<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Home</title>
</head>

<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div id="logoutDiv">
        <form action="#" method="POST" th:action="@{/logout}">
            <button type="submit" class="btn btn-secondary float-right" id="btn-logout">Logout</button>
        </form>
    </div>
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab"
                   href="#nav-files" role="tab" aria-controls="nav-files"
                   aria-selected="true">Files
                </a>
                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes"
                   role="tab" aria-controls="nav-notes"
                   aria-selected="false">Notes
                </a>
                <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab"
                   href="#nav-credentials" role="tab" aria-controls="nav-credentials"
                   aria-selected="false">Credentials
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/file/uploadFile}">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-2">
                                <label for="fileUpload">Upload a New File:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-fileModel" id="fileUpload" name="fileUpload">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-dark" id="uploadButton">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <div th:class="${fileNotification.startsWith('Success') ? 'alert alert-success' : 'alert alert-danger'}"
                         th:if="${fileNotification != null}">
                        <span th:text="${fileNotification}"></span>
                    </div>
                    <table class="table table-striped" id="fileTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 80%" scope="col">File Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="file: ${fileList}">
                            <td>
                                <a class="btn btn-success"
                                   target="_blank" th:href="@{/file/download/{fileName}(fileName=${file.fileName})}">
                                    View</a>
                                <a class="btn btn-danger"
                                   th:href="@{/file/delete/{id}(id=${file.fileId})}">Delete</a>
                            </td>
                            <th scope="row" th:text="${file.fileName}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                <button style="margin: 0.25em;" type="button" class="btn btn-info float-right"
                        onclick="showNoteModal()" id="btn-add-note">
                    + Add a New Note
                </button>

                <div class="table-responsive">

                    <div th:class="${noteNotification.startsWith('Success') ? 'alert alert-success' : 'alert alert-danger'}"
                         th:if="${noteNotification != null}">
                        <span th:text="${noteNotification}"></span>
                    </div>
                    <table class="table table-striped" id="userTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 20%" scope="col">Title</th>
                            <th style="width: 60%" scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="note: ${noteList}">
                            <td>
                                <button class="btn btn-success" id="btn-editNote"
                                        th:onclick="'showNoteModal(' + ${note.noteId} + ')'"
                                        type="button">Edit
                                </button>
                                <a id="btn-deleteNote" class="btn btn-danger"
                                   th:href="@{/note/delete/{id}(id=${note.noteId})}">Delete</a>
                            </td>
                            <th id="note-title-row" scope="row" th:text="${note.noteTitle}"></th>
                            <td id="note-description-row" th:text="${note.noteDescription}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST" th:action="@{/note/add}" th:object="${noteModel}">
                                    <input type="hidden" name="noteId" id="note-id" th:field="*{noteId}">
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Title</label>
                                        <input type="text" name="noteTitle" class="form-control"
                                               id="note-title" maxlength="20" th:field="*{noteTitle}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="note-description" class="col-form-label">Description</label>
                                        <textarea class="form-control" name="noteDescription" id="note-description"
                                                  rows="5" maxlength="1000" th:field="*{noteDescription}" required>
                                                </textarea>
                                    </div>
                                    <button id="noteSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" id="btn-update-note" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save
                                    changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                <button style="margin: 0.25em;" type="button" class="btn btn-info float-right"
                        onclick="showCredentialModal()" id="btn-add-credential">
                    + Add a New Credential
                </button>

                <div class="table-responsive">
                    <div th:class="${creNotification.startsWith('Success') ? 'alert alert-success' : 'alert alert-danger'}"
                         th:if="${creNotification != null}">
                        <span th:text="${creNotification}"></span>
                    </div>
                    <table class="table table-striped" id="credentialTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 35%" scope="col">URL</th>
                            <th style="width: 20%" scope="col">Username</th>
                            <th style="width: 25%" scope="col">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="credential: ${credentialList}">
                            <td>
                                <button class="btn btn-success"
                                        id="btn-editCre"
                                        th:onclick="'showCredentialModal(' + ${credential.credentialId} + ')'">Edit
                                </button>
                                <a id="btn-credential-delete" class="btn btn-danger"
                                   th:href="@{/credential/delete/{id}(id=${credential.credentialId})}">
                                    Delete
                                </a>
                            </td>
                            <th id="cre-url-row" scope="row" th:text="${credential.url}"></th>
                            <td id="cre-user-row" th:text="${credential.username}"></td>
                            <td id="cre-pw-row" th:text="${credential.password}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog"
                     aria-labelledby="credentialModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST" th:action="@{/credential/add}"
                                      th:object="${credentialModel}">
                                    <input type="hidden" name="credentialId" id="credential-id"
                                           th:field="*{credentialId}">
                                    <div class="form-group">
                                        <label for="credential-url" class="col-form-label">URL</label>
                                        <input type="text" name="url" class="form-control" id="credential-url"
                                               maxlength="100" th:field="*{url}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-username" class="col-form-label">Username</label>
                                        <input type="text" name="username" class="form-control"
                                               id="credential-username" maxlength="30" th:field="*{username}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-password" class="col-form-label">Password</label>
                                        <input type="text" name="password" class="form-control"
                                               id="credential-password" maxlength="30"
                                               required th:field="*{password}">
                                    </div>
                                    <button id="credentialSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="btn-update-credential" onclick="$('#credentialSubmit').click();">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!--For opening the note modal-->
<script type="text/javascript">

    $(document).ready(function () {
        const activeTab = localStorage.getItem('activeTab');

        if (activeTab) {
            $('#nav-tab a[href="#' + activeTab + '"]').tab('show');
        }

        $('#nav-tab a').on('shown.bs.tab', function (e) {
            const selectedTab = $(e.target).attr('href').substr(1);
            localStorage.setItem('activeTab', selectedTab);
        });
    });

    // For opening the note modal with noteId
    function showNoteModal(id) {
        getNoteById(id)
        $('#noteModal').modal('show');
    }

    // For opening the credentials modal with credentialId
    function showCredentialModal(id) {
        getCredentialById(id)
        $('#credentialModal').modal('show');
    }

    function getNoteById(id) {
        if (id != null) {
            $.ajax({
                type: 'GET',
                url: 'note/get/' + id,
                dataType: 'json',
                success: function (data) {
                    $('#note-id').val(data.noteId ? data.noteId : '');
                    $('#note-title').val(data.noteTitle ? data.noteTitle : '');
                    $('#note-description').val(data.noteDescription ? data.noteDescription : '');
                },
                error: function (xhr, status, error) {
                    console.error(xhr, status, error);
                }
            });
        }else {
            $('#note-id').val(0);
            $('#note-title').val(null);
            $('#note-description').val(null);
        }
    }

    function getCredentialById(id) {
        if (id != null) {
            $.ajax({
                type: 'GET',
                url: 'credential/get/' + id,
                dataType: 'json',
                success: function (data) {
                    $('#credential-id').val(data.credentialId ? parseInt(data.credentialId) : '');
                    $('#credential-url').val(data.url ? data.url : '');
                    $('#credential-username').val(data.username ? data.username : '');
                    $('#credential-password').val(data.password ? data.password : '');
                },
                error: function (xhr, status, error) {
                    console.error(xhr, status, error);
                }
            });
        }else {
            $('#credential-id').val(0);
            $('#credential-url').val(null);
            $('#credential-username').val(null);
            $('#credential-password').val(null);
        }

    }

</script>
</body>
</html>
